<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/cloud.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
          <div class="main-content">
                {{>header}}
            <img class="portrait" src="/img/profile.jpg">
            <p>Hey Visitor,Thanks for giving this website a look, My name is Kishor Kumar.</p>
            <p>A student of MNNIT,Allahabad.</p>
            <p>A guy from New Delhi, Fitness enthusiast and An Aspiring learner.</p>
            <p>This is a mini-Project to just brush up some back-end Skills.</p>
            <p>Any Feedback or queries are appreciated, You can Join me on :-</p>
            <ul>
                <li><a href="https://www.facebook.com/me/" style="text-decoration: none; font-size:18px">My Facebook </a></li>
                <li><a href="https://www.instagram.com/kishor9014/" style="text-decoration: none; font-size:18px">My Instagram</a></li>
                <li><a href="https://www.linkedin.com/in/kishor-kumar-0b5794191/?lipi=urn%3Ali%3Apage%3Ad_flagship3_feed%3BHKWEQ0x2RymuqDJ4xGgDqg%3D%3D"  style="text-decoration: none; font-size:18px">My linkedin</a></li>
            </ul>
        </div>
       
        {{>footer}}
    </body>
</html>