<html>
    <head>
         <title>Help</title>
        <link rel="icon" href="/img/cloud.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
                {{>header}}

            <p>Enter your location or any other location You want to know the forecast for</p> 
            <p>in the given input field.</p>
            <p>For any feedback ,Kindly mail to <strong>mr.kumar1839@gmail.com</strong></p>
        </div>
        
        {{>footer}}
    </body>
</html>